*{
  margin: 0;
  padding: 0;
}


:root {
--primary: green;
--secondary: red;
--bs-body-font-family: "Roboto", sans-serif;
}

html{scroll-behavior: smooth;}
body{font-family: var(--bs-body-font-family);font-size: 16px;line-height: 1.3;color: #000000;font-weight: 400;}


/* typography */
h1,h2,h3,h4,h5,h6 { color:#111; font-weight:normal; margin-bottom:20px; line-height:1.2 }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { font-weight:inherit }
h1 { font-size:60px }
h2 { font-size:45px }
h3 { font-size:40px }
h4 { font-size:32px }
h5 { font-size:24px }
h6 { font-size:18px }


/* links */
a{text-decoration:underline;color:blue;}
a:hover{color: red;}

/* buttons */
.btn{
  /* primary */
  --btn-primary-bg : rgb(32, 0, 211);
  --btn-primary-color : #ffffff;
  --btn-primary-hover-bg : #0537ed;
  --btn-primary-hover-color : #ffffff;
  /* secondary */
  --btn-secondary-bg : rgb(2, 96, 2);
  --btn-secondary-color : #ffffff;
  --btn-secondary-hover-bg : rgb(2, 163, 2);
  --btn-secondary-hover-color : #ffffff;
}
.btn{padding: 8px 15px;border: 0;border-radius: 0;display: inline-block;font-size: 16px;font-weight: 400;text-decoration: none;cursor: pointer;line-height: 1.5;transition: all .3s;}
.btn.btn-primary{background: var(--btn-primary-bg);color: var(--btn-primary-color);}
.btn.btn-primary:hover{background: var(--btn-primary-hover-bg);color: var(--btn-primary-hover-color);}
.btn.btn-secondary{background: var(--btn-secondary-bg);color: var(--btn-secondary-color);}
.btn.btn-secondary:hover{background: var(--btn-secondary-hover-bg);color: var(--btn-secondary-hover-color);}

/* header */
/* header#header {background: #ffffff;border-bottom: 1px solid #cccccc;}
a.navbar-brand {width: 80px;}
a.navbar-brand img {width: 100%;}
a.nav-link {color: #000000;}
form#header-search {position: relative;}
#header-search button {position: absolute;right: 0;top: 0;width: 60px;height: 100%;padding: 0;background: #c9c9c9;border-radius: 0;}
#header-search button img {width: 20px;} */


/* hero */
#particles-js {opacity: .5;}
section#hero-wrapper {background: #1B1B1B;height: 100dvh;}
.hero-headline{font-family: "Dancing Script", cursive;}
.hero-btn {color: #ffffff;background: #353535;position: relative;border-radius: 50px;padding: 13px 30px 13px 60px;border: 1px solid #ffffff;line-height: 1.5;transition: 1s;}
button.hero-btn.clicked {
    padding-left: 30px;
    padding-right: 60px;
}
.hero-btn-icon {position: absolute;left: 0px;top: 50%;transform: translateY(-50%);background: #cccccc;width: 44px;height: 44px;border-radius: 50%;display: flex;align-items: center;justify-content: center;margin: 0 3px;color: #000000;transition: 1s;}
button.hero-btn.clicked .hero-btn-icon {
  left: calc(100% - 50px);
}
/* ---Responsive--- */

/* Desktop */
@media only screen and (max-width:992px){
 
}
/* Desktop */


/* Mobile */
@media only screen and (max-width:991px){

}

@media only screen and (max-width:768px){

}

@media only screen and (max-width:576px){

}

@media only screen and (max-width:479px){

}

@media only screen and (max-width:414px){

}


/* Mobile */


/* ---responsive--- */


